.dark-mode {
    --clr-bg-forground: #262931;
    --clr-bg-background: #191c22;
    --clr-text-green: #1a8499;
    --clr-text-red: #ef6765;
    --clr-text-main: #fafafa;
    --clr-border-mobile: transparent;
    --clr-btn-hover: #2d3444;
}
